<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083401833520-bbm59l6rq6tbllbaiuq557vpd6g9imdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083401833520-bbm59l6rq6tbllbaiuq557vpd6g9imdr</string>
	<key>API_KEY</key>
	<string>AIzaSyC3DLzaYN3jlRRaN8wOjRuQ9qd_7tF92c0</string>
	<key>GCM_SENDER_ID</key>
	<string>1083401833520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innapp.pullu</string>
	<key>PROJECT_ID</key>
	<string>pullu-2e3bb</string>
	<key>STORAGE_BUCKET</key>
	<string>pullu-2e3bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083401833520:ios:b80c3cec4f84d2106ff1f5</string>
	<key>DATABASE_URL</key>
	<string>https://pullu-2e3bb.firebaseio.com</string>
</dict>
</plist>